.about-wrapper {
  margin: 30px 0 90px 0;
}

.about-img img {
  width: 100%;
}

.page-main-text .section-header-name {
  margin: 30px 0;
}

.page-main-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #506172;
}

.button-box {
  padding: 0 15px;
}

.blog-wrapper {
  margin: 120px 0;
}

.blog-element-wrapper {
  margin-bottom: 50px;
}

.blog-img {
  position: relative;
}

.blog-img img {
  width: 100%;
}

.blog-img .sub-img-data a {
  display: inline-block;
  background-color: #fc3f00;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  bottom: -20px;
  left: 40px;
}

.blog-img .sub-img-data a:hover {
  background-color: transparent;
}

.blog-img .sub-img-data a:hover > * {
  color: #fc3f00;
}

.blog-img .sub-img-data a h5 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
  margin: 0;
}

.blog-img .sub-img-data a p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  margin: 0;
}

.blog-bottom {
  padding: 60px 30px 35px 35px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(221, 221, 221, 0.3);
          box-shadow: 0 10px 20px 0 rgba(221, 221, 221, 0.3);
}

.blog-bottom .blog-text a {
  text-decoration: none;
  color: #000;
}

.blog-bottom .blog-text a:hover {
  color: #fc3f00;
}

.blog-bottom .blog-text p {
  font-size: 16px;
  font-weight: 400;
  color: #506172;
  line-height: 30px;
}

.blog-bottom .blog-comment {
  margin-top: 30px;
}

.blog-bottom .blog-comment a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #999;
}

.blog-bottom .blog-comment a:hover > i {
  color: white;
}

.blog-bottom .blog-comment a:hover > span {
  color: #fc3f00;
}

.blog-bottom .blog-comment a i:hover {
  color: #fc3f00;
}

.blog-bottom .blog-comment a:last-child {
  margin-left: 10px;
  border-left: 1px solid #999;
  padding-left: 10px;
}

.blog-bottom .blog-comment a span {
  margin-left: 10px;
}

.blog-bottom .blog-comment a span:hover {
  color: #fc3f00;
}

.blog-input-wrapper {
  padding: 30px;
  background-color: #fbf9ff;
  margin-bottom: 30px;
}

.blog-input-wrapper .input-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.blog-input-wrapper .input-box input {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #f0e9ff;
  font-size: 13px;
  color: #999;
  outline: none;
  height: 50px;
}

.blog-input-wrapper .input-box button {
  background-color: #fc3f00;
  color: #fff;
  border: 0;
  padding: 4px 15px;
  font-size: 16px;
  font-weight: 400;
}

.blog-input-wrapper .input-button button {
  border: 1px solid #fc3f00;
  background-color: #fff;
  color: #fc3f00;
  width: 100%;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-input-wrapper .input-button button:hover {
  background-color: #fc3f00;
  color: #fff;
}

.aside-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #f0e9ff;
}

.blog-category-wrapper {
  padding: 30px;
  background-color: #fbf9ff;
  margin-bottom: 30px;
}

.blog-category-wrapper .category-box ul li {
  padding: 20px 0 15px 0;
  border-bottom: 1px solid #f0e9ff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog-category-wrapper .category-box ul li:hover p {
  color: #fc3f00;
}

.blog-category-wrapper .category-box ul li:first-child {
  padding-top: 0;
}

.blog-category-wrapper .category-box ul li:last-child {
  border: none;
}

.blog-category-wrapper .category-box ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.blog-category-wrapper .category-box ul li a p {
  font-size: 16px;
  font-weight: 400;
  color: #506172;
  margin: 0;
}

.recent-box .aside-header {
  margin-bottom: 40px;
}

.blog-recent-wrapper {
  padding: 30px;
  background-color: #fbf9ff;
  margin-bottom: 30px;
}

.blog-recent-wrapper .recent-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.blog-recent-wrapper .recent-post .recent-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.blog-recent-wrapper .recent-post .recent-date a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-recent-wrapper .recent-post .recent-date a:hover {
  color: #fc3f00;
}

.blog-recent-wrapper .recent-post .recent-date span {
  color: #506172;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.blog-tag-wrapper {
  padding: 30px;
  background-color: #fbf9ff;
  margin-bottom: 30px;
}

.blog-tag-wrapper .tag-link {
  margin-top: 40px;
}

.blog-tag-wrapper .tag-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-tag-wrapper .tag-link ul li a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #eee;
  background: #fff;
  padding: 4px 20px;
  color: #888;
  font-size: 13px;
  margin: 0 8px 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-tag-wrapper .tag-link ul li a:hover {
  background-color: #fc3f00;
  color: #fff;
}

.blog-insta-wrap {
  padding: 30px;
  background-color: #fbf9ff;
  margin-bottom: 30px;
}

.blog-insta-wrap .feed-img {
  margin-top: 40px;
}

.blog-insta-wrap .feed-img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -6px;
  margin-left: -6px;
}

.blog-insta-wrap .feed-img ul li {
  width: 33.3%;
  padding: 0 6px;
  margin-bottom: 15px;
}

.blog-insta-wrap .feed-img ul li img {
  width: 100%;
}

.bottom-input {
  margin-top: 40px;
}

.blog-page-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-page-arrow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-page-arrow ul li {
  margin: 0 5px;
}

.blog-page-arrow ul li .page-links {
  text-decoration: none;
  font-size: 14px;
  line-height: 13px;
  color: #8a8a8a;
  display: inline-block;
  padding: 14px 18px;
  border: 1px solid #eee;
}

.blog-page-arrow ul li .page-links:hover {
  color: #fc3f00;
  background-color: transparent;
}

.blog-page-arrow ul li.active-page-select a {
  background-color: #fbf9ff;
  border-color: #f0e9ff;
  color: #888;
}

.contact-wrapper {
  margin: 130px 0 40px 0;
}

.get-touch {
  margin-top: 60px;
}

.contact-icons {
  margin-left: 100px;
}

.contact-icons .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contact-icons .adress .adress-info {
  margin-left: 20px;
}

.contact-icons .adress h3 {
  font-size: 16px;
  line-height: 19px;
  color: #2a2a2a;
}

.contact-icons .adress p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #8a8a8a;
  margin: 0;
}

.contact-icons .adress i {
  font-size: 27px;
  font-weight: 600;
  color: #8f9195;
}

.mg-l {
  margin-left: 35px !important;
}

#detail-section .blog-wrapper {
  margin-bottom: 0;
}

.details-wrapper .detail-img img {
  width: 100%;
}

.details-wrapper .blog-bottom {
  padding: 26px 0 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.details-wrapper .blog-bottom .blog-text .section-header-name {
  margin: 0;
}

.details-wrapper .blog-bottom .blog-text .blog-comment {
  margin: 15px 0 24px 0;
}

.inner-text {
  border: 30px solid #f2f3f7;
  margin-bottom: 30px;
}

.inner-text .inner-border {
  padding: 26px 32px 20px 32px;
  border-left: 2px solid #888888;
}

.inner-text .inner-border p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-style: italic;
  color: #888888;
}

.blog-like {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.blog-like .like-wrapper {
  padding: 15px 0 25px 0;
}

.blog-like .like-wrapper .like-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-like .like-wrapper .like-links span {
  color: #506172;
}

.blog-like .like-wrapper .like-links .like-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-like .like-wrapper .like-links .like-social ul li {
  margin-right: 15px;
}

.blog-like .like-wrapper .like-links .like-social ul li:last-child {
  margin: 0;
}

.blog-like .like-wrapper .like-links .like-social ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #999999;
}

.blog-like .like-wrapper .like-links .like-social ul li a:hover {
  color: #fc3f00;
}

.like-arrows {
  margin-top: 60px;
}

.like-arrows .left-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.like-arrows .left-arrow:hover .arrow-img::before {
  opacity: 0.5;
}

.like-arrows .left-arrow:hover .arrow-img > .arrow-prev > a > i {
  opacity: 1;
  color: #fff;
}

.like-arrows .left-arrow .arrow-img {
  position: relative;
}

.like-arrows .left-arrow .arrow-img a {
  text-decoration: none;
}

.like-arrows .left-arrow .arrow-img a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  font-size: 16px;
}

.like-arrows .left-arrow .arrow-img a i:hover {
  color: #fc3f00 !important;
  opacity: 1 !important;
}

.like-arrows .left-arrow .arrow-img::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  background-color: #000;
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.like-arrows .left-arrow .arrow-img .arrow-prev {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.like-arrows .arrow-caption {
  margin-left: 20px;
}

.like-arrows .arrow-caption span {
  color: #506172;
}

.like-arrows .arrow-caption h6 .small-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.like-arrows .arrow-caption h6 .small-link:hover {
  color: #fc3f00;
}

.like-arrows .right-arrow .arrow-caption {
  text-align: end;
  margin: 0 20px 0 0;
}

.small-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #000;
  text-decoration: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.small-link:hover {
  color: #fc3f00;
}

.author-comment {
  margin-top: 50px;
  background: #fbf9ff;
  padding: 40px 30px;
}

.author-comment .author-comment-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author-comment .author-comment-inner .author-info {
  margin-left: 25px;
}

.author-comment .author-comment-inner .author-info p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #506172;
}

.user-coment {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
}

.user-coment .user-coment-wrapper {
  margin-bottom: 45px;
}

.user-coment .coment-count {
  margin-bottom: 35px;
}

.user-coment .coment-count h6 {
  margin: 0;
}

.user-coment .coment-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-coment .coment-part .coment-text {
  margin-left: 15px;
}

.user-coment .coment-part .coment-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #777777;
  margin: 0;
}

.user-coment .coment-part .coment-text .coment-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.user-coment .coment-part .coment-text .coment-function .d-flex span {
  margin-left: 15px;
}

.user-coment .coment-part .coment-text .coment-function span {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #999999;
}

.user-coment .coment-part .coment-text .coment-function a {
  text-decoration: none !important;
}

.user-coment .coment-part .coment-text .coment-function a span:hover {
  color: #fc3f00 !important;
}

.detail-input-header {
  margin: 40px 0;
}

.detail-input-header h6 {
  font-size: 18px;
}

.blog-bottom .button-box a {
  letter-spacing: 3px;
  text-transform: uppercase !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.header-top {
  background-color: #000;
  padding: 8px 0;
}

.header-top-inner-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-inner-left ul li {
  margin-right: 50px;
}

.header-top-inner-left ul li:last-child {
  margin-right: 0;
}

.header-top-inner-left ul li span {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.container {
  max-width: 1200px;
}

.header-top-inner-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-inner-right ul li {
  margin: 0 8px;
}

.header-top-inner-right ul li a {
  color: #fff;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.header-top-inner-right ul li a:hover {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  color: #fc3f00;
}

.header-top-inner-right ul li a i {
  font-size: 13px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.header-top-inner-right ul li a i:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.header-middle-all {
  padding: 10px 0;
  background-color: #fff;
  position: relative;
}

.adver-header a img {
  width: 100%;
}

.header-bottom-all {
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes padd {
  from {
    padding: 35px 15px;
  }
  to {
    padding: 40px 20px;
  }
}

@keyframes padd {
  from {
    padding: 35px 15px;
  }
  to {
    padding: 40px 20px;
  }
}

.fadeout.open .main-navigation > li {
  -webkit-animation-name: padd;
          animation-name: padd;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navigation {
  position: relative;
}

.navigation .main-navigation li {
  padding: 40px 20px;
}

.navigation .main-navigation li:first-child {
  padding-left: 0;
}

.navigation .main-navigation li:last-child {
  cursor: pointer;
}

.navigation .main-navigation li:last-child:hover > ul {
  opacity: 1;
  z-index: 1;
  position: absolute;
  visibility: visible;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navigation .main-navigation li a {
  color: #002e5b;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation .main-navigation li a:hover {
  color: #fc3f00;
}

.header-drop-nav {
  position: absolute;
  background-color: #fff;
  width: 150px;
  top: 130%;
  -webkit-box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.1);
  border-top: 5px solid #fc3f00;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  visibility: hidden;
  z-index: 2;
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header-drop-nav li {
  padding: 5px 15px !important;
}

.header-drop-nav li:first-child {
  padding-top: 20px !important;
}

.header-drop-nav li:last-child {
  padding-bottom: 20px !important;
}

.black {
  background-color: red;
}

#header-search {
  padding: 3px 0 3px 15px;
  border: 1px solid #ddd;
  outline: none;
}

.header-form {
  position: relative;
  cursor: pointer;
}

.header-form:hover > .header-search-wrapper {
  opacity: 1;
}

.header-search-wrapper {
  position: absolute;
  right: 30px;
  top: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.none-logo {
  display: none;
}

.show-logo {
  display: block;
  padding: 10px 0 10px 0;
}

.downkHeader {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 99999999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.downkHeader .header-form {
  display: none;
}

.downkHeader .navigation ul li {
  padding: 33px 15px !important;
}

.downkHeader .navigation .header-drop-nav li {
  padding: 5px 15px !important;
}

.downkHeader .navigation .header-drop-nav li:first-child {
  padding-top: 20px !important;
}

.downkHeader .navigation .header-drop-nav li:last-child {
  padding-bottom: 20px !important;
}

header {
  z-index: 999999;
  position: relative;
}

#trending {
  margin: 30px 0;
  position: relative;
  z-index: 1;
}

.bottom-border {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.trending-red-info {
  margin-bottom: 50px;
  position: relative;
  z-index: -999;
}

.trending-red-info p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 14px;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: red;
  display: inline-block;
}

.trending-red-info span {
  font-size: 16px;
  font-weight: 400;
  color: #506172;
  margin-left: 15px;
  z-index: -9;
}

.tranding-main-img {
  position: relative;
}

.tranding-main-img::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 26, 71, 0)), to(rgba(2, 26, 71, 0.6)));
  background: linear-gradient(to bottom, rgba(2, 26, 71, 0) 0%, rgba(2, 26, 71, 0.6) 100%);
}

.tranding-main-img img {
  width: 100%;
}

.trending-main-block {
  position: relative;
  margin-bottom: 30px;
}

.trending-main-news {
  position: absolute;
  left: 50px;
  bottom: 10px;
  z-index: 9999;
}

.trending-main-news .sub-news {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  padding: 10px 20px;
  background-color: #fff9c6;
  display: inline-block;
  border-radius: 5px;
}

.trending-main-news h2 a {
  margin-top: 10px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-decoration: none;
}

.sub-news {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  padding: 10px 20px;
  background-color: #fff9c6;
  display: inline-block;
  border-radius: 5px;
}

.sub-news-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none !important;
}

.sub-news-link:hover {
  color: #fc3f00;
}

.trending-bottom-block img {
  width: 100%;
}

.trending-bottom-news .sub-news {
  margin: 20px 0;
}

.sbCl1 {
  background-color: #ffe7e6;
}

.sbCl2 {
  background-color: #f4ffd5;
}

.sbCl3 {
  background-color: #e1fcff;
}

.trending-right-info {
  margin-left: 20px;
}

.trending-right-info .sub-news {
  margin-bottom: 10px;
}

.trending-right-news {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.trending-right-news:last-child {
  border-bottom: none;
}

.section-header-name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

#firts-slider {
  margin-top: 50px;
}

.first-slider-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.slider-first .col-4 {
  position: relative;
}

.slider-first .col-4 img {
  width: 100%;
}

.slider-first .col-4:hover > .img-caption {
  opacity: 1;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.img-caption {
  position: absolute;
  bottom: 10px;
  margin-left: 20px;
  margin-right: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-caption .sub-news {
  margin-bottom: 10px;
}

.whats-news-header {
  margin-bottom: 30px;
}

.whats-news-header .section-header-name {
  margin-bottom: 0;
}

.whats-news-wrapper {
  padding-bottom: 20px;
  margin-top: 50px;
}

.news-navigation {
  background-color: #f7f7f7;
}

.news-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-navigation ul li {
  padding: 10px 20px;
  background-color: #f7f7f7;
}

.news-navigation ul li a {
  text-decoration: none;
  color: #8f8f96;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.news-navigation ul li a:hover {
  color: #fc3f00;
}

.whats-news-element {
  margin-bottom: 100px;
  cursor: pointer;
}

.whats-news-element:hover > .news-caption {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.news-img {
  position: relative;
}

.news-caption {
  width: 80%;
  position: absolute;
  bottom: 40px;
  background-color: #fff;
  padding: 25px 40px 0 10px;
  border-top-right-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.news-caption .sub-news {
  margin-bottom: 20px;
}

.follow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.follow-box .follow-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  padding: 15px;
  border: 1px solid #efefef;
  border-radius: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5px;
}

.follow-box .follow-element .follow-statis {
  margin-left: 15px;
}

.follow-box .follow-element .follow-statis span {
  color: #232323;
  font-size: 14px;
  font-weight: 500;
}

.follow-box .follow-element .follow-statis p {
  line-height: 1;
  font-size: 11px;
  color: #506172;
  margin-bottom: 0;
}

.aside-advers {
  margin-top: 50px;
}

.aside-advers img {
  width: 100%;
}

.right-follow-side h3 {
  margin-bottom: 50px;
}

#second-slider {
  background-color: #f7f7fd;
  padding: 110px 0 100px 0;
}

.sec-sld-img {
  position: relative;
}

.sec-sld-img img {
  width: 100%;
}

.sec-sld-img span {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0;
}

.sec-sld-date {
  padding: 10px 0;
}

.sec-sld-date span {
  color: #506172;
  font-size: 16px;
}

.sec-sld-date h6 {
  margin-top: 10px;
}

.video-slick {
  width: 140px;
  margin: 0 5px;
}

.video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-video {
  width: 100%;
  height: 470px;
  position: relative;
}

#video-slider {
  margin: 100px 0 0 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 60px;
}

.bottom-video-part {
  margin-top: 40px;
}

.bottom-video-part .section-header-name {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.bottom-video-part p {
  color: #777777;
  font-size: 14px;
}

.arrow-box {
  position: absolute;
  top: -130px;
  background-color: #fff;
  width: 60%;
  padding-top: 60px;
  border-top-right-radius: 10px;
}

.news-img img {
  width: 100%;
}

#article-slider {
  padding-top: 50px;
}

#article-slider .container {
  border-bottom: 1px solid #dddddd;
}

.page-arrows {
  padding-top: 20px;
  padding-bottom: 45px;
}

.active-page {
  color: black !important;
}

.active-page::before {
  content: "";
  width: 37px;
  height: 3px;
  background-color: #fc3f00;
  display: inline-block;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.pages ul li {
  margin: 0 15px;
}

.pages ul li a {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: #777;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pages ul li a:hover {
  color: #fc3f00;
}

#footer {
  background-color: #100f0f;
  padding-top: 110px;
}

.wrapper-footer {
  border-bottom: 1px solid #222;
  padding-bottom: 20px;
}

.wrapper-footer p {
  font-size: 15px;
  font-weight: 400;
  color: #a8a8a8;
  margin-top: 35px;
  line-height: 27px;
}

.wrapper-footer h5 {
  color: #fff;
  margin-bottom: 35px;
}

.wrapper-footer .col-3 {
  margin-top: 60px;
}

.footer-social {
  margin-top: 50px;
}

.footer-social li {
  margin-right: 15px;
}

.footer-social li a {
  color: #222;
  font-size: 19px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
}

.footer-social li a:hover {
  color: #fc3f00;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.input-footer {
  margin-top: 40px;
  position: relative;
}

.input-footer input {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #222;
  padding: 10px 5px;
  width: 100%;
}

.input-footer a {
  position: absolute;
  right: 0;
}

.footer-insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-insta img {
  margin: 2px;
}

.footer-reserv {
  padding: 40px 0 30px 0;
}

.reservs span {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  color: #838383;
}

.reservs span i {
  color: #f27420;
}

.reservs span a {
  text-decoration: none;
  color: #f27420;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.reservs span a:hover {
  color: #fff;
}

.footer-links a {
  color: #777;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-links a:hover {
  color: #f27420;
}

.footer-links li {
  margin-left: 30px;
}

@-webkit-keyframes fade {
  from {
    top: 130%;
  }
  to {
    top: 100%;
  }
}

@keyframes fade {
  from {
    top: 130%;
  }
  to {
    top: 100%;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 100%;
  }
  to {
    top: 130%;
  }
}

@keyframes fadeout {
  from {
    top: 100%;
  }
  to {
    top: 130%;
  }
}

#up-button {
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 9999999999999999999;
}

#up-button a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  background-color: #fc3f00;
  color: #ddd;
  border-radius: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#up-button a i {
  font-size: 18px;
}

.show-up > a {
  opacity: 1 !important;
}

.burger-menu a i {
  font-size: 24px;
  color: #fc3f00;
  cursor: pointer;
}

.burger-drop {
  position: absolute;
  top: 100%;
  background-color: #ffff;
  display: none;
  overflow-y: hidden;
  -webkit-transition: height 0.6s linear;
  transition: height 0.6s linear;
  -webkit-animation-name: burgerr;
          animation-name: burgerr;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-transition: 1s;
  transition: 1s;
}

.burger-drop ul li {
  margin: 10px 0;
}

.burger-drop ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
}

.burger-drop.active {
  opacity: 1;
  -webkit-animation-name: burger;
          animation-name: burger;
  display: block;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-transition: height 0.6s linear;
  transition: height 0.6s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.burger-drop:not(.active) {
  opacity: 1;
  height: 0;
  -webkit-animation-name: burgerr;
          animation-name: burgerr;
  display: block;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-transition: height 0.6s linear;
  transition: height 0.6s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes burger {
  0% {
    height: 0;
  }
  50% {
    height: 250px;
  }
}

@keyframes burger {
  0% {
    height: 0;
  }
  50% {
    height: 250px;
  }
}

@-webkit-keyframes burgerr {
  0% {
    height: 250px;
  }
  50% {
    height: 0px;
  }
}

@keyframes burgerr {
  0% {
    height: 250px;
  }
  50% {
    height: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .burger-menu {
    display: none;
  }
  .burger-drop {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .burger-menu {
    display: none;
  }
  .burger-drop {
    display: none;
  }
  .news-navigation ul li {
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .logo-header a img {
    width: 100%;
  }
  .search-button {
    display: none;
  }
  .aside-advers {
    display: none;
  }
  #second-slider {
    padding-bottom: 50px;
  }
  .burger-menu {
    display: none;
  }
  .burger-drop {
    display: none;
  }
  .contact-icons {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .navigation {
    display: none;
  }
  .header-wrapper-all {
    display: none;
  }
  .header-middle-all {
    display: none;
  }
  .whats-news-header .section-header-name {
    margin-bottom: 20px;
  }
  .burger-menu {
    display: block;
  }
  .whats-news-header {
    margin-top: 50px;
  }
  .contact-icons {
    margin-left: 0;
  }
  .none-logo {
    display: block;
    padding: 15px 0;
  }
  #trending {
    margin-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  footer p {
    font-size: 14px !important;
  }
  section p {
    font-size: 14px !important;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

#news-slider {
  margin-top: 30px;
}

.news-border {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

#news-section {
  padding-top: 30px;
}

.news-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-share ul li {
  margin-left: 20px;
}

.input-wrapper {
  margin-bottom: 90px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #495057;
}

.input-wrapper > * > * {
  border: 1px solid #e5e6e9;
}

.input-wrapper textarea {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
}

.input-wrapper input {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
}

.input-wrapper .input-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrapper .input-mail input {
  width: 100%;
  margin-right: 10px;
}

.send-button {
  width: 100%;
  color: #fc3f00;
  padding: 23px 44px;
  border: 1px solid #fc3f00;
  display: inline-block;
  text-decoration: none !important;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.send-button:hover {
  background-color: #fc3f00;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */